kind: Service
apiVersion: v1
metadata:
  name: hybridnet-webhook
  namespace: kube-system
spec:
  ports:
    - name: webhook-port
      protocol: TCP
      port: 443
      targetPort: webhook-port
  type: ClusterIP
  selector:
    app: hybridnet-webhook
  sessionAffinity: None
